#cover {
  background-image: url("cover.png");
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
#terms {
  background-color: rgba(0, 140, 255, 1);
  position: absolute;
  left: 10vw;
  top: 10vh;
  width: 80vw;
  height: 80vh;
  border: rgba(0, 140, 255, 1) 1px;
  border-radius: 2rem;
  z-index: 4;
}
#btn {
  position: relative;
  left: 92%;
  width: 5vw;
  height: 5vh;
  cursor: pointer;
}
#orderParent {
  background-color: rgba(0,0,0, 0.5);
  position: relative;
  border: 1px rgba(0,0,0, 0.5);
  border-radius: .5rem;
  width: 30%;
  height: 40%;
  text-align: center;
  left: 10%;
  font-size: 2rem;
  cursor: default;
  color: white;
}
#orderpage {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  opacity: 0.5;
}
#orderLink {
  cursor: pointer;
  text-decoration: none;
}
#applyDevParent {
  background-color: rgba(0,0,0, 0.5);
  position: relative;
  top: -41.5%;
  border: 1px rgba(0,0,0, 0.5);
  border-radius: .5rem;
  width: 30%;
  height: 40%;
  text-align: center;
  left: 60%;
  font-size: 2rem;
  cursor: default;
  color: white;
}
#appledevpage {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  opacity: 0.5;
}
#appleDevLink {
  cursor: pointer;
  text-decoration: none;
}
#applyModParent {
  background-color: rgba(0,0,0, 0.5);
  position: relative;
  top: -35%;
  border: 1px rgba(0,0,0, 0.5);
  border-radius: .5rem;
  width: 30%;
  height: 40%;
  text-align: center;
  left: 35%;
  font-size: 2rem;
  cursor: default;
  color: white;
}
#applymodpage {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  opacity: 0.5;
}
#appleModLink {
  cursor: pointer;
  text-decoration: none;
}
#sample {
  background-image: url("sample.jpeg");
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 170vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#section2 {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 70vh;
  background-color: #303030;
  z-index: 2;
}
#section2 > div {
  position: relative;
  left: 10vw;
  top: 15%;
  width: 80vw;
  height: 70%;
  background-color: lightslategrey;
  border: 2px solid lightslategrey;
  border-radius: 1rem;
  z-index: 3;
}
#section2 > div > pre {
  position: relative;
  width: 100%;
  height: 80%;
  top: 10%;
  left: 0%;
  font-family: arial;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  overflow-x: none;
}
#section3 {
  position: absolute;
  top: 270vh;
  width: 100vw;
  height: 15vh;
  z-index: 3;
  background-color: blueviolet;
  display: flex;
  justify-content: space-evenly;
}
#section3 > img {
  width: 10vw;
  margin-top: 2.5vh;
  height: 10vh;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
#tos {
  position: absolute;
  top: 285vh;
  left: 0;
  width: 100vw;
  height: 12vh;
  background-color: #282C35;
}
#tos > h1 {
  position: relative;
  font-family: 1rem;
  vertical-align: middle;
  top: 1vh;
  text-align: center;
}
#tos > h1 > a:hover {
  text-decoration: none;
  cursor: pointer;
  color: green;
}
#tosPopUp {
  background-color: #11eafa;
  position: absolute;
  top: 200vh;
  z-index: 5;
  left: 10vw;
  width: 80vw;
  height: 200vh;
  border: 1px #7b8334;
  border-radius: 0.5rem;
  visibility: hidden;
}
#tosPopUp > h1 {
 position: relative;
 left: 0;
 font-family: arial;
 font-weight: lighter;
 font-size: 1rem;
 color: black;
 overflow-x: hidden;
 padding-top: 5%;
 padding-left: 5%;
 padding-right: 5%;
}
